{% extends 'base.html' %}
{% load static %}

{% block title %}DIARY DELETE | Zuramaru{% endblock %}

{% block active_diary_list %}active{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <form method="POST">
                {% csrf_token %}
                <p>Are you surely ready to delete?</p>
                <button class="btn btn-primary mt-5" type="submit">Delete</button>
                <a class="btn btn-secondary mt-5 mt-2" href="{% url 'miraizura:diary_detail' object.pk %}">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}